In [5]:
import pandas as pd
from ast import literal_eval

In [2]:
data = pd.read_csv("../data/original_data.csv")

In [ ]:
data["POLYLINE"] = data["POLYLINE"].apply(literal_eval)

In [3]:
data.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

In [4]:
len(data)

1710670

In [5]:
len(data[data["MISSING_DATA"] == False]) / len(data)

0.9999941543371895

In [6]:
data = data[data["MISSING_DATA"] == False]

In [7]:
len(data)

1710660

In [15]:
taxis_subset = data.sample(3000)

In [16]:
taxis_subset.to_csv("../data/subset.csv", index=False)